ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD_HASH=
ADMIN_PASSWORD=
ADMIN_TOTP_SECRET=
ADMIN_JWT_SECRET=

DATABASE_URL=

UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

BLOB_READ_WRITE_TOKEN=

CRON_SECRET=
